@charset "utf-8";
@import "normalize";

$desktop-width: 680px;
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
@mixin phone {
  @media(max-width: ($desktop-width - 1)) {
    @content
  }
}

$back-color: #c2f0c2;
$dark-color: #238f23;
$border-color: #0f3d0f;

//General page
body {
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

p {
  margin: 2px;
}

a {
  color: $dark-color;
}

.clear {
  clear: both;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#header {
  height: 60px;
  background: $back-color;
}

#content {

}

#footer {
  height: 60px;
}

h2 {
  color: $dark-color;
}

//Main content area
.content-block {
  float: left;
  text-align: left;

  margin-bottom: 20px;

  width: 50%;
  @media(max-width: ($desktop-width - 1)) {
    width: 100%;
  }
}

.inner-content {
  margin: 10px 30px 10px 30px;
}

//The menu buttons
#menu {
  text-align: right;
  overflow: auto; 
}

.button {
  background: $dark-color;
  color: white;
  text-decoration: none;

  padding: 10px;
  margin: 0px 4px 0px 4px;

  border: 1px solid $border-color;
  border-radius: 5px;

  display: inline-block;

  line-height: 1.3em;
}

//Logo with download
#logo-container {
  width: 100%;
  text-align: center;
}

#logo-image {
  width: 40%;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.light-button {
  @extend .button;

  background: $back-color;
  color: black;
}

#download-button {
  width: 320px;
  top: -40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;

  h2 {
    margin: 5px;
  }
}

//The logo in the header
.logo {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 20px;

  color: black;
  text-decoration: none;
}

#long {
  @include phone {
    display: none;
  }
}

#short {
  @include desktop {
    display: none;
  }
}
